.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    object-fit: cover;
    height:15vw;
    width: 15vw;
    margin: 0.5%;
}

img:hover{
    opacity: 0.6;
    cursor: grab ;
    animation: scale 1.5s;
}

@keyframes scale{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}

.btn-primary{
    margin: 0.5%;
}

.hide{
    display: none;
}


